
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

.topnav {
  overflow: hidden;
  background-color: #9b8888;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #c59d9d;
  color: black;
}

/* .topnav a.active {
  background-color: #04aa6d;
  color: white;
} */

/* .figure {
 justify-content:stretch;
 flex-wrap: wrap;
 
} */
.figure1 {
  position: absolute;
  bottom: -800px;
  left: 20px;
}

.figure2 {
  position: absolute;
  bottom: -800px;
  right: 420px;
}

.figure3 {
  position: absolute;
  bottom: -1350px;
  left: 20px;
}

.figure4 {
  position: absolute;
  bottom: -1350px;
  right: 310px;
}

.column {
  flex: 50%;
  padding: 0px;
  margin-bottom: -20px;
}

.column img {
  margin-top: 0;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 1200px) {
  .figure1 {
    bottom: -600px;
    left: 10px;
  }

  .figure2 {
    bottom: -600px;
    right: 210px;
  }

  .figure3 {
    bottom: -1050px;
    left: 10px;
  }

  .figure4 {
    bottom: -1050px;
    right: 155px;
  }
}

@media (max-width: 992px) {
  .figure1 {
    bottom: -400px;
    left: 10px;
  }

  .figure2 {
    bottom: -400px;
    right: 100px;
  }

  .figure3 {
    bottom: -800px;
    left: 10px;
  }

  .figure4 {
    bottom: -800px;
    right: 80px;
  }
}

@media (max-width: 768px) {
  .figure1,
  .figure3 {
    bottom: -300px;
    left: 5px;
  }

  .figure2,
  .figure4 {
    bottom: -300px;
    right: 40px;
  }
}

@media (max-width: 576px) {
  .figure1,
  .figure2,
  .figure3,
  .figure4 {
    bottom: -200px;
    left: 5px;
    right: 5px;
  }
}

/* Scroll Bar */

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-container figure {
  display: inline-block;
  margin: 10px;
}

.scroll-container::-webkit-scrollbar {
  height: 10px;
  background-color: #f3f3f3;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* Main section */
.videoContainer {
  position: relative;
  top: 5px;
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  height: 700px;
  box-sizing: border-box;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.parentContainer {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .textOverlay {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .vedioContainer {
    width: 100%;
    padding: 0;
  }
  .textOverlay {
    font-size: 20px;
  }
}
.serBox {
  position: relative;
  height: 40px;
  width: 160px;
  border-radius: 20px;
  background-color: #f5f5f5;
  outline: none;
  cursor: text;
  padding-left: 40px; /* Space for the search icon */
  box-sizing: border-box;
  border: 1px solid #ccc; /* Optional: Add a border */
}

.serBox::placeholder {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  color: lightgray;
}

.searchBtn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #000;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.col-md-3.align-middle.text-end.px-5.d-flex.align-items-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sectionBelowVideo {
  text-align: center;
  margin: 20px auto;
  margin-bottom: 90px;
  padding: 20px;
  max-width: 800px;
  height: 253px;
}
.shopNowButton {
  position: relative;
  top: 40px;
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}
.shopNowButton:hover {
  background-color: gray;
  color: white;
}

.sectionBelowVideo1 {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  height: 100px;
}

.shopNowButton1 {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.2s ease;
}
.shopNowButton1:hover {
  background-color: gray;
  color: white;
}
.sectionBelowVideo h2 {
  font-size: 5.5rem;
  font-weight: 1000;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.sectionBelowVideo1 h3 {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.sectionBelowVideo p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
.txt-sp {
  position: relative;
}