/* New product */
.newProduct {
  padding: 2rem 0;
  margin-top: -5rem;
}

.newpdGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.newpdTheme {
  height: 700px;
  overflow: hidden;
  position: relative;
}

.newpdTheme img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.newpdThemedark {
  position: absolute;
  right: 200px;
  bottom: 40px;
}

.newpdThemelight {
  position: absolute;
  right: 450px;
  bottom: 40px;
}

.newpdTheme span {
  font-size: 1rem;
  color: #fff;
}

.newpdTheme p {
  font-size: 1.75rem;
  padding: 0.5rem 0;
  color: #fff;
}

.textSubtopic {
  font-size: 1.5rem;
  padding: 1rem;
}

.newpdThemedark .newpdBtn {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  background-color: #ffffff;
  color: #000000;
  transition: 0.2s ease;
}
.newpdThemelight .newpdBtn {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  background-color: #fff;
  color: #000;
  transition: 0.2s ease;
}
.newpdThemedark .newpdBtn:hover,
.newpdThemelight .newpdBtn:hover {
  opacity: 0.8;
}

/* Popular */
.popular {
  margin: 2rem 6rem 3.5rem 6rem;
}

.popularCart {
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
  width: fit-content;
}

.popularCart img {
  width: 300px;
  height: 100%;
  object-fit: cover;
}
/* .popularCart {
  width: 200px;
  padding-bottom: 1rem;
} */

.popularCart .productName {
  font-size: 1.25rem;
}

.slider-container {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  padding-bottom: 25px;
}
.slider-wrapper {
  display: flex;
}

.slider {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 20px;
  margin-right: 50px;
}

.slide {
  flex: 0 0 auto;
  margin-right: 18px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.slide:hover {
  transform: translateY(-5px);
}
.slider-text p {
  margin-top: 0.5rem;
  font-weight: bold;
  line-height: 1.1rem;
}
.light-txt {
  color: gray;
}
.slide img {
  max-width: 350px;
  max-height: 300px;
}
/* scrollbar */
.slider-container::-webkit-scrollbar {
  width: 10px;
}

.slider-container::-webkit-scrollbar-track {
  background: transparent;
}

.slider-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
  border: transparent;
}

.slider-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 768px) {
  .slider {
    padding-left: 20px;
    padding-right: 15px;
    margin-right: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .slide {
    flex: 0 0 auto;
    margin-right: 18px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    scroll-snap-align: center;
    margin-bottom: 10px;
  }

  .slide:last-child {
    margin-right: 10px;
  }
}
@media screen and (max-width: 400px) {
  .slide img {
    width: 363px;
  }
  .slider-text {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .slide img {
    width: 345px;
  }
}
@media only screen and (max-width: 355px) {
  .slide img {
    width: 300px;
  }
}

/* More Nike Column */

#sectionWomen {
  padding: 40px;
}
#morenike {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 25px;
}
.cat-box {
  display: grid;
  height: 600px;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  gap: 20px;
}
.cat-box > div:nth-child(1) {
  background-image: url(https://penji.co/wp-content/uploads/2022/05/7-just-do-it-nike.jpeg);
}
.cat-box > div:nth-child(2) {
  background-image: url(https://i.pinimg.com/originals/02/00/f8/0200f823ebeb69d16676f64a7b6507cc.jpg);
}
.cat-box > div:nth-child(3) {
  background-image: url(https://i.pinimg.com/originals/ba/c2/3a/bac23ad32444a8ce708ac5be127269ae.jpg);
}
.catgory {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.catgory div {
  width: 25%;
  position: relative;
  top: 500px;
  left: 50px;
  margin: 0;
}
.catgory div button {
  background-color: white;
  color: black;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
}
.catgory div button:hover {
  background-color: rgba(255, 255, 255, 0.568);
}

/* Responsive Adjustments */

@media screen and (max-width: 768px) {
  .cat-box {
    display: grid;
    height: 450px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }
  .catgory div {
    width: 25%;
    position: relative;
    top: 380px;
    left: 20px;
    margin: 0;
  }
  .catgory div button {
    background-color: white;
    color: black;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 550px) {
  .cat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1400px;
    width: 100%;
  }
  #morenike {
    font-size: 1.5rem;
  }
  .catgory div button {
    width: 160px;
  }
}

#spotlight {
  padding: 20px;
}
